html {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000f4d;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar {
  width: 200px;
  background: #1e293b;
  padding: 5px 16px;
  position: sticky; /* fica fixa ao rolar a página */
  top: 0;
  height: 100vh;
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebar-topo {
  width: 30px;
  height: 30px;
  max-width: 100%;
}

#sidebarshuukan {
  font-size: 2rem;
  font-weight: bold;
}
